/*configs*/
:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-orange: hsl(25, 97%, 53%);
  --color-dark-grey: hsl(216, 12%, 8%);
  --color-grey: hsl(213, 19%, 18%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-gradient: radial-gradient(circle at center, #232A34, #181E27);

  --ff-main: "Overpass", sans-serif;

  --fs-rating-heading: 1.75rem;
  --fs-rating-descrip: 0.9375rem;
  --fs-rating-number: 1rem;
  --fs-rating-button: 0.875rem;

  --fs-thanks-rating: 0.9375rem;
  --fs-thanks-heading: 1.75rem;
  --fs-thanks-descrip: 0.9375rem;

  --fw-main: 400;
  --fw-bold: 700;

  box-sizing: border-box;
}

/*layout styles*/
body {
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: var(--fw-main);
  background-color: var(--color-dark-grey);
}

.container {
  display: grid;
  place-items: center;
  height: 100dvh;
}

.card {
  background-image: var(--color-gradient);
  padding: 2rem;
  max-width: 21rem;
  border-radius: 1.5rem;
  transition: height 5s;
}

.hidden {
  display: none;
}

/*content styles*/
/*rating page styles*/
.star-image {
  display: block;
  background-color: var(--color-grey);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  max-width: 100%;
}

.question-header {
  font-size: var(--fs-rating-heading);
  font-weight: var(--fw-bold);
  line-height: 2.1875rem;
  letter-spacing: 0px;
  color: var(--color-white);
  margin: 0;
}

.question-description {
  font-size: var(--fs-rating-descrip);
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: var(--color-light-grey);
  margin: 1rem 0;
}

.rating-button-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/*rating button styles*/
.rating-button {
  
  font-size: var(--fs-rating-button);
  font-weight: var(--fw-bold);
  line-height: 1.5rem;
  letter-spacing: 0px;
  background-color: var(--color-grey);
  color: var(--color-light-grey);
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border: none;
  border-radius: 50%;
}

.rating-button:hover,
.rating-button:focus-visible {
  background-color: var(--color-orange);
  color: var(--color-dark-grey);
}

.rating-selected {
  background-color: var(--color-white);
  color: var(--color-dark-grey);
}

.rating-selected:hover {
  background-color: var(--color-orange);
  color: var(--color-dark-grey);
}

.submit-button {
  font-size: var(--fs-rating-button);
  font-weight: var(--fw-bold);
  line-height: 1.5rem;
  letter-spacing: 0.010625rem;
  background-color: var(--color-orange);
  color: var(--color-dark-grey);
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  transition: background-color 0.15s, color 0.15s;
}

.submit-button:hover {
  background-color: var(--color-white);
  color: var(--color-dark-grey)
}

.submit-button:focus {
  background-color: var(--color-white);
  color: var(--color-dark-grey)
}

/*thank you page styles*/
.thanks-section-padded {
  padding: 2.5rem 2rem;
}

.thank-you-section {
  text-align: center;
}

.thank-you-image {
  margin-bottom: 2rem;
  max-width: 100%;
}

.rating-tag {
  display: inline-block;
  font-size: var(--fs-thanks-rating);
  line-height: 1.5rem;
  letter-spacing: 0px;
  background-color: var(--color-grey);
  color: var(--color-orange);
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 1.5rem;
}

.thank-you-header {
  font-size: var(--fs-thanks-heading);
  font-weight: var(--fw-bold);
  line-height: 2.1875rem;
  letter-spacing: 0px;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 1rem;
}

.thank-you-description {
  font-size: var(--fs-thanks-descrip);
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: var(--color-light-grey);
  margin: 0;
}

/*footer styles*/
.attribution {
  font-size: 11px;
  color: var(--color-white);
  text-align: center;
}

.attribution a { color: var(--color-orange) }